@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GangwonEduSaeeum_OTFMediumA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 김시우씨선택 */
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.title {    
    font-family: 'MaplestoryOTFBold';
    font-size: 50px;
    width: fit-content; /* 텍스트 길이에 맞게 너비 조정 */
}
.subtitle {    
    font-family: 'GoryeongStrawberry';
    font-size: 18px;
    width: fit-content; /* 텍스트 길이에 맞게 너비 조정 */
}
.button{
    font-family: 'insungitCutelivelyjisu';
    color: #f1b95f ;
    background-color: white;
    border: 1px solid rgb(243, 192, 97);
}
.button:active {
    background-color: #f1b95f; /* 클릭 시 배경색 변경 */
    color: white; /* 클릭 시 글자색 변경 */
    border-color: #f1b95f; /* 클릭 시 테두리 색 변경 */
}

/* 선택된 상태 유지 */
.button.selected {
    background-color: #f1b95f;
    color: white;
    border-color: #f1b95f;
}

.select-wrapper {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.select-container {
    margin-left: 700px;
}

.custom-select {
    width: 100px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30%;
    color: #1f1f1f;
    border-color: #f1b95f; /* 클릭 시 테두리 색 변경 */
    font-family: 'insungitCutelivelyjisu';

}


.map-share-card{
    border-radius: 30px;
    box-shadow: 6px 6px 12px rgba(220, 161, 78, 0.3);
    border-color: #e6cb7e;
    cursor: pointer;
}

.map-share-card:hover{
    box-shadow: 10px 10px 20px rgba(246, 165, 52, 0.4);
    transform: scale(1.04); /* 약간 확대: 1.05배 */
}



.title-font {
    font-size: 18px; 
    font-weight: bold;    /* 폰트 크기 */
    font-family: 'InkLipquid', sans-serif;
    margin-top: 15px;
}

.deleteButton{
    background-color: white;
}

.deleteButton:hover{
    background-color: white;
}


.like-footer {
    background-color: #f1b95f !important;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.like-footer:hover {
    background-color: #e99b1d !important; /* 호버 시 색상 변경 */
}

.more-btn:hover{
    background-color: #ea9d21 !important;
    color: white !important;
}

.map-like-popover{
    width: 110px;
    height: 35px;
    margin-bottom: 15px;
    margin-left: 55px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-share-nickname{
    padding: 8px;
    font-size: 18px; 
    font-weight: bold;    /* 폰트 크기 */
    font-family: 'InkLipquid', sans-serif;
}
