.commentSection {
    /* max-width: none !important; */
    width: 100%;
    background-color: #fff;
    display: flex;
    /* flex-direction: column; */
    /* overflow: hidden; */
    align-items: left;
    font-family: Inter, sans-serif;
    color: #000;
    font-weight: 200;
    line-height: 20px;
  }
  
  .commentContent {
    /* background-color: black; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
    display: flex;
    /* min-height: 310px; */
    /* width: 0px; */
    /* max-width: 80%; */
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1% 20% 2%;
  }
  
  /* @media (max-width: 991px) {
    .commentContent {
      padding: 0 20px;
    }
  }
   */
  .commentorInfo {
    background-color: #fff;
    display: flex;
    min-height: 80px;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
    /* overflow: hidden; */
    font-size: 23px;
    font-weight: 700;
    white-space: nowrap;
    text-align: bottom;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .commentorInfo {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .commentorAvatar {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 50px;
    border-radius: 50%;
  }
  
  .commentorName {
    width: 140px;
  }
  
  .commentText {
    text-align: left;
    font-size: 22px;
    margin-top: 10px;
  }
  
  @media (max-width: 991px) {
    .commentText {
      max-width: 100%;
    }
  }
  
  .commentDate {
    font-size: 22px;
    line-height: 1;
    margin-top: 10px;
    /* margin-left: 100px; */
    text-align: right;
  }
  
  @media (max-width: 991px) {
    .commentDate {
      max-width: 100%;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }