.formField {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}

.required {
  color: #d19675;
  font-weight: 700;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ababab;
  border-radius: 4px;
}

.textarea {
  min-height: 150px;
}

.selectWrapper {
  position: relative;
}

.selectWrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}