/* src/css/Login.module.css */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  height: 30vh; /* 전체 화면 높이 */
  padding: 20px; /* 여백 */
}

.loginPage h2 {
  margin-bottom: 20px; /* 제목과 폼 사이의 간격 */
}

.loginPage form {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  width: 100%; /* 전체 너비 */
  max-width: 400px; /* 최대 너비 */
}

.loginPage label {
  margin-bottom: 5px; /* 레이블과 입력 필드 간격 */
}

.loginPage input {
  margin-bottom: 15px; /* 입력 필드 간격 */
  padding: 10px; /* 패딩 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 5px; /* 테두리 둥글기 */
}

.loginPage button {
  padding: 10px; /* 패딩 */
  background-color: black; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 테두리 둥글기 */
  cursor: pointer; /* 커서 포인터로 변경 */
}

.loginPage button:hover {
  background-color:black; /* 버튼 호버 색상 */
}

.loginPage a {
  margin-top: 10px; /* 링크와 버튼 사이의 간격 */
  color: black; /* 링크 색상 */
  text-decoration: none; /* 밑줄 없음 */
}

.loginPage a:hover {
  text-decoration: underline; /* 호버 시 밑줄 */
}
