.paginationContainer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* color: var(--sds-color-text-default-default); */
    justify-content: center;
    align-items: center;
    padding: 46px 14px;
    /* font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1 var(--sds-typography-body-font-family); */
  }
  
  .paginationList {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .paginationButton,
  .paginationButtonActive,
  .paginationNavButton {
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid #FFB74D;
    /* border-color: #FFB74D; */
    /* font-size: inherit; */
    transition: background-color 0.3s ease;
  }
  
  .paginationButton {
    background-color: white;
    color: #FFB74D;
    
    
  }
  
  .paginationButton:hover,
  .paginationButton:focus {
    background-color: #FFB74D;
    color: white;
  }
  
  .paginationButtonActive {
    background-color: #FFB74D;
    color : white; 
    /* color: var(--sds-color-text-brand-on-brand); */
  }
  
  .paginationNavButton {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: White;
    /* opacity: 0.8;  */
    /* color: var(--sds-color-text-default-secondary); */
    color:#FFB74D;
  }

  .paginationNavButton:hover {
    background-color: #FFB74D;
    color:white;
  }
/*   
  .paginationNavButton:hover:not(:disabled),
  .paginationNavButton:focus:not(:disabled) {
    background-color: #e0e0e0;
  } */
  
  .paginationNavButton:disabled {
    /* opacity: 0.8; */
    cursor: not-allowed;
  }
  
  .navIcon {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
  
  @media (max-width: 991px) {
    .paginationContainer {
      flex-direction: column;
    }
    
    .paginationList {
      margin: 16px 0;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .paginationButton,
    .paginationButtonActive,
    .paginationNavButton {
      transition: none;
    }
  }