
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 프로필 이미지 스타일 */
.profileImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  border-radius: 50%;
  align-self: stretch;
  margin: auto 0;
}

/* 프로필 이름 스타일 */
.profileName {
  font-family: 'GumiRomanceTTF', sans-serif; /* 폰트 적용 */
  font-size: 20px;
  font-weight: 400;
  align-self: stretch;
  width: 140px;
  margin: auto 0;
  text-shadow: 0px 0px 4px rgba(92, 92, 92, 0.514);
}

/* 칭호 스타일 */
.profileRank {
  font-family: 'GumiRomanceTTF', sans-serif; /* 폰트 적용 */
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin: 10px 0; /* 사진과 name 사이에 간격 추가 */
  text-align: center;
  text-shadow: 0px 0px 4px rgba(92, 92, 92, 0.514);
}
