.ratingField {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.asterisk {
  color: #d19675;
  font-size: 18px;
  font-weight: 700;
}

.ratingStars {
  aspect-ratio: 6.06;
  object-fit: contain;
  width: 206px;
}