.container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
  color: #333;
  text-align: center;
  letter-spacing: -0.5px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 9px 25px;
  font: 350 17px/1 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
  
}

@media (max-width: 991px) {
  .container {
    white-space: initial;
  }
}

.regionLink {
  
  display: flex;
  flex-direction: column;
  width: 75px;
  padding: 0 5px 9px;
}

@media (max-width: 991px) {
  .regionLink {
    white-space: initial;
  }
}

.regionIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 65px;
}

.regionName {
  align-self: center;
  margin-top: 15px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 사용 */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}