.selectWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .selectIcon {
    position: absolute;
    left: 10px;
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  
  .select {
    width: 100%;
    padding: 8px 10px 8px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #3d3d3d;
    appearance: none;
    background-color: #fff;
  }