.starRating {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .ratingLabel {
    font-size: 16px;
    color: #000;
  }
  
  .requiredAsterisk {
    color: #d19675;
    font-weight: 700;
  }
  
  .stars {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
  }
  
  .starInput {
    display: none;
  }
  
  .starInput + label:before {
    content: '☆';
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
  }
  
  .starInput:checked ~ label:before,
  .starInput:hover ~ label:before {
    content: '★';
    color: #ffd700;
  }