.travelCard {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    display: flex;
    width: 100%;
    padding: 16px 0;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }
  
  .cardImage {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
  }
  
  .cardTitle {
    color: #333;
    letter-spacing: -0.6px;
    text-align: center;
    margin-top: 15px;
    font: 700 18px/1 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .cardLocation {
    color: #666;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 9px;
    font: 350 15px/1 'Noto Sans KR', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .ratingContainer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    justify-content: start;
  }
  
  .ratingIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .travelCard {
      margin-top: 5px;
    }
  }

  .star {
    color: #ffc107; /* 별점 색상 */
    display: inline-block; /* 인라인 블록으로 설정 */
  }