/* 사용자 정의 폰트를 위한 글로벌 font-face 설정 */
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
/* 헤더 컨테이너 */
.header {
    background-color: #fff; /* 배경색: 흰색 */
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.2); /* 상자 그림자 */
    color: black; /* 글자 색상: 회색 */
    font: 350 20px 'Noto Sans KR', sans-serif; /* 글꼴 설정 */
    width: 100%; /* 가로 너비 100% */
    overflow: hidden; /* 넘치는 요소 숨기기 */
    height: 80px; /* 높이 80px */
    display: flex; /* 플렉스박스 레이아웃 */
}
  
/* 내부 컨테이너 */
.container {
    display: flex; /* 플렉스박스 레이아웃 */
    width: 100%; /* 가로 너비 100% */
    align-items: center; /* 세로 가운데 정렬 */
    gap: 5px; /* 요소 간의 간격 5px */
    justify-content: flex-start; /* 왼쪽 정렬 */
    flex-wrap: wrap; /* 요소가 넘칠 경우 줄 바꿈 */
    padding: 0 20px; /* 좌우 패딩 20px */
    box-sizing: border-box; /* padding과 border 크기를 포함한 박스 모델 */
}
  
/* 화면 너비가 991px 이하일 때의 스타일 */
@media (max-width: 991px) {
    .container {
        padding: 0 10px; /* 좌우 패딩을 10px로 줄임 */
    }
}
  
/* 내비게이션 메뉴 */
.nav {
    align-self: stretch; /* 자신의 크기를 부모 요소의 크기로 늘림 */
    position: relative; /* 상대적 위치 설정 */
    display: flex; /* 플렉스박스 레이아웃 */
    align-items: center; /* 세로 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    justify-content: start; /* 왼쪽 정렬 */
    flex: 1; /* 남은 공간을 모두 차지 */
}

/* 화면 너비가 991px 이하일 때의 내비게이션 메뉴 스타일 */
@media (max-width: 991px) {
    .nav {
        max-width: 100%; /* 최대 너비 100%로 설정 */
    }
}
  
/* 로고 스타일 */
.logoContainer {
    flex-direction: column; /* 로고와 서브타이틀을 세로로 배치 */
    margin-right: 50px; /* 오른쪽 여백 50px */
    margin-bottom: 7px; /* 아래쪽 여백 7px */
    margin-left: 3px; /* 왼쪽 여백 3px */
    cursor: pointer; /* 클릭 가능한 마우스 커서 표시 */
}
  
.logo {
    font-size: 35px; /* 글꼴 크기 35px */
    font-weight: bold; /* 두꺼운 글씨 */
    font-family: 'HSSanTokki20-Regular'; /* 사용자 정의 폰트 적용 */
}
  
.logoSubtitle {
    font-size: 10px; /* 서브타이틀 글꼴 크기 10px */
}
  
/* 로고에 마우스를 올렸을 때의 스타일 */
.logo:hover {
    color: black; /* 텍스트 색상을 연한 회색으로 변경 */
    text-shadow: 0px 0px 10px #FFB74D /* 텍스트 그림자 적용 */
}

