@font-face {
  font-family: 'Katuri';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.achievementSection {
  padding: 20px 500px; /* 상하 32px, 좌우 60px 패딩으로 설정 */
}

.sectionTitle {
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Katuri', sans-serif;
}

.achievementHeaders {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin-bottom: 16px;
}

.achievementList {
  list-style-type: none;
  padding: 0;
}

.achievementItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 19px;
}

.achievementTitle {
  flex: 2;
  font-family: 'GumiRomanceTTF', sans-serif;
}

.achievementBadge {
  flex: 1;
  text-align: center;
  font-family: 'GumiRomanceTTF', sans-serif;
}

.achievementStatus {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectButton {
  background-color: white;
  color: #198754;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  outline: 1px solid #198754;
}

.selectButton:hover {
  background-color: #198754;
  color :#f5f5f5;
}

/* 클릭된 버튼에 적용되는 스타일 */
.clicked {
  background-color: #198754;
  color: #f5f5f5;
}
