@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.centeredMap {
    text-align: center;  /* 텍스트 중앙 정렬 */
    margin-top: 50px;    /* 위쪽 여백 */
    font-size: 50px; 
    font-weight: 400;    /* 폰트 크기 */
    font-family: 'Cafe24Lovingu', sans-serif;
  }

.writeButtonContainer {
    display: flex;
    justify-content: flex-end; /* 왼쪽 정렬 */
    width: 50%; /* 부모 컨테이너 전체 너비 사용 */
    margin-bottom: 20px; /* TravelCardGrid와의 간격 */
}

.writeButton {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    color: #FF8A2B;
    border: none;
    outline: 1px solid #FF8A2B;
    margin: 20px 0;
}

.writeButton:hover {
    background-color: #FF8A2B;
    color : white;
}