@font-face {
  font-family: 'NEXEN_TIRE_Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.chatWidgetContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.chatButton {
  background-color: #FFB74D;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.chatButton:hover {
  color: #FFB74D;
  background-color: #FFB74D;
  box-shadow: 0 4px 8px #FFB74D;
  transform: scale(0.9); /* 버튼을 90% 크기로 줄임 */
  transition: transform 0.2s ease; /* 부드러운 애니메이션 효과 */
}

.chatWindow {
  position: absolute;
  bottom: 60px; /* 채팅 버튼 위에 위치 */
  right: 0;
  width: 350px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chatHeader {
  font-family: 'GumiRomanceTTF';
  background-color: #ffd89d;
  color: #412d12;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  height: 60px;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.chatHeader h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#basic-nav-dropdown .dropdown-toggle::after {
  content: ""; /* 역삼각형 제거 */
}

.chatHeader button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.chatBody {
  flex: 1;
  /* overflow-y: auto; */
  /* padding: 15px; */
}

.chatFooterTabs {
  font-family: 'ImcreSoojin';
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #ffd89d;
  border-radius: 0 0 8px 8px;
  width: 100%;
  position: sticky;
  bottom: 0;
}

.tabButton {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease;
}

.tabButton:hover {
  color: #412d12;
}

.activeTab {
  color: #412d12;
  border-bottom: 2px solid #412d12;
}

.chatContent {
  max-height: 410px; /* 원하는 최대 높이를 설정 */
  overflow-y: auto;
}