@font-face {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.header-row {
  display: flex;
  color: #1e1e1e;
  letter-spacing: -0.45px;
  font: 700 14px/2 'HakgyoansimChilpanjiugaeTTF-B', sans-serif; /* 폰트 변경 */
  background-color: rgb(237, 193, 111);
  padding: 8px; 
  justify-content: center;
}

.header-cell {
  flex: 1;
  padding: 8px;
  text-align: center;
  min-width: 100px;
  font-family: 'HakgyoansimChilpanjiugaeTTF-B', sans-serif; /* 폰트 변경 */
}
