/* 폰트 */
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Katuri';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.navigation-container {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 1px 0;
  margin: 0px;
}

@media (max-width: 991px) {
  .navigation-container {
    padding: 0 20px;
  }
}

.navigation-list {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin-right: 100px; 
}

.vertical-divider-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
}
/* 
.vertical-divider {
  border-right: 2px solid #e0e0e0;
  min-height: 40px;
  width: 2px;
} */

.styled-link {
  text-decoration: none;
  font-family: 'GumiRomanceTTF';
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.styled-link.active {
  text-shadow: 0px 0px 10px #FFB300;
}

