<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.comment.dao.CommentMapper">
    <!-- saveRow --> 

    <insert id="saveComment"
            parameterType="com.kdt_final.back.comment.domain.CommentRequestDTO">
        INSERT INTO comment(userId, postId, comment)
        VALUES( #{userId}, #{postId}, #{comment})
    </insert>

    <select id="getComments"
            parameterType="int"
            resultType="com.kdt_final.back.comment.domain.CommentResponseDTO">
        select userId, comment, createdDate, commentId
        FROM comment
        WHERE postId = #{postId};
    </select>

    <delete id="deleteComment"
            parameterType="int">
        DELETE FROM comment
        WHERE commentId = #{commentId}
    </delete>
    
    <select id="countCommentsByUserId" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM commentId
        WHERE userId = #{userId}
    </select>
    </mapper>