<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.follow.dao.FollowMapper">
    <!-- saveFollow --> 

    <insert id="saveFollow"
            parameterType="com.kdt_final.back.follow.domain.FollowRequestDTO">
        INSERT INTO follows(followedId, followerId)
        VALUES( #{followedId}, #{followerId})
    </insert>

    <!-- checkFollow --> 

    <select id="checkFollow"
            parameterType="com.kdt_final.back.follow.domain.FollowRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM follows
        WHERE followedId=#{followedId} AND followerId=#{followerId};
    </select>

    <!-- deleteFollow --> 

    <delete id="deleteFollow"
            parameterType="com.kdt_final.back.follow.domain.FollowRequestDTO">
        DELETE FROM follows
        WHERE followedId=#{followedId} AND followerId=#{followerId};
    </delete>

    <!-- getFollowers -->

     <select id="getFollowers"
             parameterType="int"
             resultType="int">
        SELECT followerId
        FROM follows
        WHERE followedId=#{userId}

    </select>

    <!-- getFollowings -->

     <select id="getFollowings"
             parameterType="int"
             resultType="int">
        SELECT followedId
        FROM follows
        WHERE followerId=#{userId}

    </select>

    <!-- countFollower -->

     <select id="countFollower"
             parameterType="int"
             resultType="int">
        SELECT COUNT(*)
        FROM follows
        WHERE followedId=#{userId}

    </select>

    <!-- countFollowing -->

     <select id="countFollowing"
             parameterType="int"
             resultType="int">
        SELECT COUNT(*)
        FROM follows
        WHERE followerId=#{userId}

    </select>
</mapper>