<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.notification.dao.NotificationMapper">

    <select id="getScheduleList"
            parameterType="String"
            resultType="com.kdt_final.back.notification.domain.NotificationResponseDTO">
        SELECT id,title,startDate,startTime,userId
        FROM schedule
        WHERE userId = #{userId}
    </select>

    <insert id="saveMsg"
            parameterType="com.kdt_final.back.notification.domain.NotificationMsgRequestDTO"
            useGeneratedKeys="true" keyProperty="msgId">
        INSERT INTO notificationMessage(msgTitle, msgContent, userId)
        VALUES (#{msgTitle}, #{msgContent}, #{userId})
    </insert>

    <select id="getMsg"
            parameterType="String"
            resultType="com.kdt_final.back.notification.domain.NotificationMsgResponseDTO">
        SELECT *
        FROM notificationMessage
        WHERE userId = #{userId}
    </select>

    <delete id="deleteMsg"
            parameterType="int">
        DELETE FROM notificationMessage
        WHERE msgId = #{msgId}
    </delete>

</mapper>