<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.post.dao.PostMapper">
    <!-- saveRow --> 

    <insert id="saveRow"
            parameterType="com.kdt_final.back.post.domain.PostRequestDTO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO POST(USERID, LOCAL, TITLE, CONTENT, RATING, SECRET, HEADERIMG)
        VALUES( #{userId}, #{local}, #{title}, #{content}, #{rating}, #{secret}, #{headerImg})
    </insert>

    <!-- savePostImage --> 

    <insert id="savePostImage"
            parameterType="com.kdt_final.back.post.domain.postImage.PostImageRequestDTO">
        INSERT INTO POSTIMAGES(POSTID, IMAGEPATH)
        VALUES( #{postId}, #{imagePath})
    </insert>

    <!-- getPost --> 

    <select id="getAllPost"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
        SELECT POSTID, USERID, LOCAL, TITLE, RATING, SECRET, HEADERIMG, CONTENT, CREATEDDATE
        FROM POST
        WHERE SECRET = 0
    </select>

    <!-- getPostImages --> 

    <select id="viewPost"
            parameterType="int"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
        SELECT POSTID, USERID, LOCAL, TITLE, RATING, SECRET, HEADERIMG, CONTENT, CREATEDDATE
        FROM POST
        WHERE POSTID = #{postId}
    </select>

    <!-- getPostImages --> 

    <select id="getPostImages"
            parameterType="int"
            resultType="com.kdt_final.back.post.domain.postImage.PostImageResponseDTO">
        SELECT IMAGEPATH
        FROM POSTIMAGES
        WHERE POSTID = #{postId}
    </select>    

    <!-- getPost --> 

    <select id="getPost"
            parameterType="String"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
        SELECT POSTID, USERID, LOCAL, TITLE, RATING, SECRET, HEADERIMG, CONTENT, CREATEDDATE
        FROM POST
        WHERE (SECRET = 0) AND (LOCAL = #{local})
    </select>    
    
    <!-- likeSave --> 

    <insert id="likeSave"
            parameterType="com.kdt_final.back.post.domain.postLike.PostLikeRequestDTO">
        INSERT INTO POSTLIKE(USERID, POSTID)
        VALUES( #{userId}, #{postId})
    </insert>

    <!-- likeDelete --> 

    <delete id="likeDelete"
            parameterType="com.kdt_final.back.post.domain.postLike.PostLikeRequestDTO">
        DELETE FROM POSTLIKE
        WHERE USERID = #{userId} AND POSTID = #{postId};
    </delete>    

    <!-- likeCheck --> 

    <select id="likeCheck"
            parameterType="com.kdt_final.back.post.domain.postLike.PostLikeRequestDTO"
            resultType="int">
        SELECT LIKENO
        FROM POSTLIKE
        WHERE USERID = #{userId} AND POSTID = #{postId};
    </select>    

    <!-- countLike --> 

    <select id="countLike"
            parameterType="int"
            resultType="int">
        SELECT count(*)
        FROM POSTLIKE
        WHERE POSTID = #{postId};
    </select>

    <!-- bookMarkSave --> 

    <insert id="bookMarkSave"
            parameterType="com.kdt_final.back.post.domain.postBookMark.PostBookMarkRequestDTO">
        INSERT INTO POSTBOOKMARK(USERID, POSTID)
        VALUES( #{userId}, #{postId})
    </insert>

    <!-- bookMarkDelete --> 

    <delete id="bookMarkDelete"
            parameterType="com.kdt_final.back.post.domain.postBookMark.PostBookMarkRequestDTO">
        DELETE FROM POSTBOOKMARK
        WHERE USERID = #{userId} AND POSTID = #{postId};
    </delete>   
    
    <!-- bookMarkCheck --> 

    <select id="bookMarkCheck"
            parameterType="com.kdt_final.back.post.domain.postBookMark.PostBookMarkRequestDTO"
            resultType="int">
        SELECT BOOKMARKNO
        FROM POSTBOOKMARK
        WHERE USERID = #{userId} AND POSTID = #{postId};
    </select>   

    <!-- getAllBookMark --> 

    <select id="getAllBookMark"
            parameterType="String"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
       SELECT 
            p.postId,
            p.userId,
            p.local,
            p.title,
            p.content,
            p.headerImg,
            p.rating,
            pb.createdDate,
            p.updatedDate,
            p.secret
        FROM 
            post p
        JOIN 
            postBookMark pb ON p.postId = pb.postId
        WHERE 
            pb.userId = #{userId}
    </select>   

    <!-- getBookMark --> 

    <select id="getBookMark"
            parameterType="com.kdt_final.back.post.domain.PostRequestDTO"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
       SELECT 
            p.postId,
            p.userId,
            p.local,
            p.title,
            p.content,
            p.headerImg,
            p.rating,
            pb.createdDate,
            p.updatedDate,
            p.secret
        FROM 
            post p
        JOIN 
            postBookMark pb ON p.postId = pb.postId
        WHERE 
            pb.userId = #{userId} AND p.local = #{local}
    </select>

     <!-- getAllTravelog --> 

    <select id="getAllTravelog"
            parameterType="String"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
        SELECT POSTID, USERID, LOCAL, TITLE, RATING, SECRET, HEADERIMG, CONTENT, CREATEDDATE
        FROM POST
        WHERE SECRET = 0 AND USERID = #{userId}
    </select>   

    <!-- getTravelog --> 

    <select id="getTravelog"
            parameterType="com.kdt_final.back.post.domain.PostRequestDTO"
            resultType="com.kdt_final.back.post.domain.PostResponseDTO">
        SELECT POSTID, USERID, LOCAL, TITLE, RATING, SECRET, HEADERIMG, CONTENT, CREATEDDATE
        FROM POST
        WHERE SECRET = 0 AND USERID = #{userId} AND LOCAL = #{local}
       
    </select>


    </mapper>