<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.ranking.dao.RankingMapper">

    <!-- 랭킹 추가 -->
    <insert id="addRanking" parameterType="com.kdt_final.back.ranking.domain.RankingRequestDTO">
        INSERT INTO weeklyranking (author, board, likes, postCount, commentCount, rankingType, weekOf)
        VALUES (#{author}, #{board}, #{likes}, #{postCount}, #{commentCount}, #{rankType}, #{weekOf})
    </insert>

    <!-- 주간 랭킹 초기화 -->
    <delete id="clearWeeklyRanking">
        DELETE FROM weeklyranking;
    </delete>

    <!-- 인기 게시글 랭킹 가져오기 -->
    <select id="getPopularPostRankings" resultType="com.kdt_final.back.ranking.domain.RankingResponseDTO">
        SELECT wr.id AS id, wr.author, wr.board, wr.likes
        FROM weeklyranking wr
        WHERE wr.rankingType = 'popularPost' AND wr.weekOf = #{weekOf}
        ORDER BY wr.likes DESC
        LIMIT 10
    </select>

    <!-- 유저 활동 랭킹 가져오기 -->
    <select id="getUserActivityRankings" resultType="com.kdt_final.back.ranking.domain.RankingResponseDTO">
        SELECT wr.author, wr.postCount, wr.commentCount
        FROM weeklyranking wr
        WHERE wr.rankingType = 'userActivity' AND wr.weekOf = #{weekOf}
        ORDER BY wr.postCount DESC, wr.commentCount DESC
        LIMIT 10
    </select>

    <!-- 명예의 전당 가져오기 (유저 활동 랭킹 1,2,3위) -->
    <select id="getHallOfFame" resultType="com.kdt_final.back.ranking.domain.RankingResponseDTO">
        SELECT wr.author, wr.postCount, wr.commentCount
        FROM weeklyranking wr
        WHERE wr.rankingType = 'userActivity' AND wr.weekOf = #{weekOf}
        ORDER BY wr.postCount DESC, wr.commentCount DESC
        LIMIT 3
    </select>
</mapper>
