<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt_final.back.user.dao.UserMapper">

    <select id="findUserAll"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT userId, loginId,password, userName, userNickname, email, birthday, phoneNum
        FROM user
    </select>

    <insert id="createUser"
            parameterType="com.kdt_final.back.user.domain.User">
        INSERT INTO user(loginId,password, userName, userNickname, email, birthday, phoneNum)
        VALUES
       (#{loginId}, #{password}, #{userName}, #{userNickname}, #{email}, #{birthday}, #{phoneNum})

    </insert>

    <select id="findAllByUserNickname"
            parameterType="String"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT  userNickname
        FROM user where userNickname =#{userNickname}
    </select>

    <select id="findAllByLoginId"
            parameterType="String"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT  loginId
        FROM user where loginId =#{loginId}
    </select>


    <select id="findUserByLoginId"
            parameterType="com.kdt_final.back.user.domain.User">
         SELECT loginId,password
          FROM user
    </select>

    <select id="findByLoginIdAndPassword"
            parameterType="com.kdt_final.back.user.domain.User">
        SELECT userId, loginId,password, userName, userNickname, email, birthday, phoneNum
        FROM user
        where loginId =#{loginId} and password = #{password}
    </select>


    <update id="updateUser"
            parameterType="com.kdt_final.back.user.domain.User">

            UPDATE user
            SET

               email =#{email},
               birthday = #{birthday},
               phoneNum= #{phoneNum}

            WHERE  loginId =#{loginId}


    </update>

    <select id="getUserInfo"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT userNickname, loginId, userColor, achievement
        FROM user
        WHERE USERID = #{userId}
    </select>

    <select id="findUserByLoginIdAndEmail"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT userId, loginId,password, userName, userNickname, email, birthday, phoneNum
        FROM user
        where loginId =#{loginId} and email = #{email}
    </select>

    <update id="updateCode"
            parameterType="com.kdt_final.back.user.domain.User">

        UPDATE user
        SET

            userCode =#{userCode}


        WHERE email =#{email}


    </update>

    <select id="findAllByUserEmail"
            parameterType="String"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT  email
        FROM user where email =#{email}
    </select>

    <select id="findCodeByLoginId"
            parameterType="String"
            resultType="com.kdt_final.back.user.domain.User">
        SELECT  userCode
        FROM user where loginId =#{loginId}
    </select>

    <update id="updatePassword"
            parameterType="String">

        UPDATE user
        SET

            password =#{password}

        WHERE loginId =#{loginId}


    </update>


    <delete id="deleteCode">
        UPDATE user
        SET

        userCode = NULL


        WHERE loginId =#{loginId}

    </delete>

    <update id="changeNicknameColor"
            parameterType="com.kdt_final.back.user.dto.UserDTO">
        UPDATE user
        SET userColor = #{userColor}
        WHERE userId = #{userId}

    </update>

    <select id="fetchNicknameColor"
            parameterType="int"
            resultType="String">
        SELECT userColor
        FROM user
        WHERE userId = #{userId}
    </select>



</mapper>