/* 폰트 설정 */
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 쇼핑 페이지 스타일 */
.shop-purchase {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #FFB300;
  text-align: center;
  padding: 2rem;
}

.shop-purchase h3 {
  font-family: 'GumiRomanceTTF', sans-serif;
  color: black;
  margin-top: 10px;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.option-card {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  background-color: white;
  padding: 1rem;
  border: 1px solid #FFB300;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 1 350px; /* flex-grow를 0으로, flex-basis를 200px로 설정 */
  max-width: 500px; /* 최대 너비를 제한하여 크기 조정 */
  min-width: 200px;
  color: #FF8A2B;
}

.purchase-button {
  font-family: Arial, sans-serif;
  padding: 3px 6px;
  font-size: 15px;
  background-color: white;
  color: #FF8A2B;
  border: 1px solid #FF8A2B;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.purchase-button:hover {
  background-color: #FF8A2B;
  color: white;
}
