.shop-purchase {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  padding: 2rem;
}

.options-container {
  display: flex; /* flexbox 사용 */
  flex-direction: row; /* 카드가 가로로 나열되도록 설정 */
  flex-wrap: wrap; /* 줄바꿈을 허용 */
  gap: 1rem; /* 카드 간격 */
}

.option-card {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px; /* 카드 모서리 둥글게 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  flex: 1; /* 각 카드가 같은 비율로 공간을 차지하도록 설정 */
  min-width: 200px; /* 카드 최소 너비 설정 (조정 가능) */
}

.purchase-button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* 버튼 효과 */
}

.purchase-button:hover {
  background-color: #444; /* 버튼 호버 색상 */
}
/* Navbar.module.css */
/* 내비게이션 바 */
.navbar {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* 전체 너비 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  border-bottom: 2px solid #e0e0e0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-right: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #0073e6;
}
