/* 폰트 */
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChilpanjiugaeTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 내비게이션 바 */
.navbar {
  background-color: white;
  color: black;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  font-family: 'GumiRomanceTTF', sans-serif;
  font-size: 18px;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-right: 2rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover,
.active {
  color: black;
  text-shadow: 0px 0px 10px #FFB300; /* 호버 및 활성화 상태에서 그림자 */
}


/* 쿠폰 구매 및 등록 */
.coupon-purchase, .coupon-register {
  margin: 0 20%;
  padding: 20px;
  display: flex; /* 플렉스 박스로 설정 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: stretch; /* 자식 요소들이 가득 차도록 설정 */
}

.coupon-purchase h2, .coupon-register h2 {
  text-align: center; /* 제목 중앙 정렬 */
  color: black; /* 주황색 제목 */
  font-family: 'HakgyoansimChilpanjiugaeTTF-B';
}

label {
  margin-top: 10px; /* 레이블 위쪽 여백 추가 */
}

.select-container {
  display: flex; /* 가로로 나란히 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 10px; /* 위쪽 여백 추가 */
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.quantity-select {
  margin-left: 10px; /* 선택박스와 라벨 간의 간격 */
  margin-right: 10px; /* 버튼과 선택박스 간의 간격 */
}

.purchase-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: white; /* 배경색: 흰색 */
  color: #FF8A2B; /* 글씨 색상 */
  border: 1px solid #FF8A2B; /* 주황색 아웃라인 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.purchase-button:hover {
  background-color: #FF8A2B; /* 호버 시 주황색 배경 */
  color: white; /* 호버 시 글씨색을 흰색으로 */
}

.coupon-purchase input, .coupon-register input {
  flex: 1; /* 가로 공간을 가득 채우도록 설정 */
  padding: 10px; /* 패딩 추가 */
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
}


