/* 모달 fade-in 효과 */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content {
    transform: translateY(-50px);
    transition: transform 0.3s ease-out;
  }
  
  .ReactModal__Content--after-open {
    transform: translateY(0);
  }
  
  .ReactModal__Content--before-close {
    transform: translateY(-50px);
  }