.formField {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}

.required {
  color: #d19675;
  font-weight: 700;
}

.input,
.select,
.textarea {
  width: 80%; /* 100%에서 80%로 줄임 */
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ababab;
  border-radius: 4px;
}

.textarea {
  min-height: 150px;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.selectWrapper {
  position: relative;
}