.imageUpload {
  display: flex;
  flex-direction: column; /* 세로 배치 */
  margin-top: 20px;
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.asterisk {
  color: #d19675;
  font-size: 18px;
  font-weight: 700;
}

.uploadButton {
  display: flex; /* 아이콘과 텍스트를 가로로 배치 */
  align-items: center;
  border-radius: 8px;
  background-color: #f3f3f3;
  padding: 4px 8px; /* 패딩 감소로 버튼 크기 조정 */
  font: inherit;
  border: 1px solid #767676;
  cursor: pointer;
  font-size: 14px; /* 글씨 크기를 줄여서 작은 버튼 만들기 */
  width: 100px; /* 버튼의 가로 크기 조정 */
  justify-content: center; /* 텍스트를 가운데 정렬 */
}

.fileInput {
  display: none; /* 파일 입력 필드를 숨김 */
}

.fileList {
  margin-top: 10px; /* 파일 목록 위쪽에 여백 추가 */
}

.fileItem {
  display: flex;
  justify-content: space-between; /* 파일명과 삭제 버튼을 양쪽에 배치 */
  align-items: center;
  width: 1245px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-top: 5px;
}

.fileName {
  font-size: 14px;
  color: #333;
}

.removeButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽에 배치 */
  margin-top: 10px;
}
