/* 폰트 */
@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.titleSection {
  background-color: #fff;
  padding: 50px 140px 50px 180px;
  color: #000;
}

.mainTitle {
  font-family: 'GumiRomanceTTF';
  letter-spacing: -1px;
}

.requiredFieldsNote {
  color: #6b6b6b;
  font: 400 12px/20px Inter, -apple-system, Roboto, Helvetica, sans-serif; /* 글씨 크기를 12px로 줄임 */
}

.asterisk {
  color: #d19675;
  font-weight: 700;
}